$fontColour: #2d6e5b !important;

$backgroundColour: #bfe2f0;

.slide {
    animation-duration: 3s;
    animation-name: slideup;
    margin-top: 0%;
}

@keyframes slideup {
    from {
        margin-top: 30%;
    }

    to {
        margin-top: 0%;
    }
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: $backgroundColour;
}

.navbar-brand {
    color: $fontColour;
}

#logo {
    width: 40px;
}

section {
    padding: 5%;
}

#maths {
    width: 100%;
}

#tutorImg {
    float: right;
    padding-left: 2%;
    padding-bottom: 2%;
}

#introDiv,
#aboutDiv {
    background-color: $backgroundColour;
}

.row {
    flex-direction: column;
}

#tutorIntro {
    font-size: 1em;
    font-weight: 400;
    color: $fontColour;
}

.heading {
    font-weight: bold;
    text-align: center;
    color: $fontColour;
}

#aboutTutor {
    padding-top: 0%;
}

#contactDiv,
#footerDiv {
    background-color: $backgroundColour;
}

#testimonialsDiv {
    background-color: #e1eef3;
    color: $fontColour;
}

#copyright {
    text-align: center;
    color: $fontColour;
}

#footerDiv {
    height: 40vh;
}

#submitButton {
    background-color: #398bac !important;
    color: white !important;
}

// Portrait

@media only screen and (min-width: 375px) and (orientation: portrait) {
    #aboutDiv {
        margin-top: -5%;
    }
    #aboutTutor {
        padding-top: 0%;
    }
}

@media only screen and (min-width: 390px) and (orientation: portrait) {
    #footerDiv {
        height: 50vh;
    }
}

@media only screen and (min-width: 412px) and (orientation: portrait) {
    #footerDiv {
        height: 55vh;
    }
}

@media only screen and (min-width: 540px) and (orientation: portrait) {
    #footerDiv {
        height: 45vh;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    #tutorImg {
        margin-right: 4%;
    }
    #footerDiv {
        height: 60vh;
    }
}

@media only screen and (min-width: 820px) and (orientation: portrait) {
    #tutorImg {
        margin-right: -5%;
    }
    #footerDiv {
        height: 65vh;
    }
}

@media only screen and (min-width: 912px) and (orientation: portrait) {
    #footerDiv {
        height: 70vh;
    }
}

// Landscape

@media only screen and (min-width: 653px) and (orientation: landscape) {
    #aboutDiv {
        margin-top: -5%;
    }
}

@media only screen and (min-width: 720px) and (orientation: landscape) {
    #tutorImg {
        margin-right: 1%;
    }
}

@media only screen and (min-width: 740px) and (orientation: landscape) {
    #tutorImg {
        margin-right: 2%;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #footerDiv {
        height: 60vh;
    }
}
